* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.34;
    text-decoration: none;
}

body {
    height: 2048px;
}

.footer {
    background-color: rgb(21, 93, 109);
    margin: auto;
    top: 0px;
    width: 1151px;
    height: 285px;
    position: sticky;
}

.contact {
    border-bottom: 2px solid rgb(37, 105, 121);
}

h3 {
    font-weight: lighter;
    color: #fff;
    margin-bottom: 12px;
}


p, .li-child-1 {
    font-size: 14px;
    color: #fff;
}

.sub-list {
    list-style-type: disc;
    color: #fff;
}

.list {
    display: flex;
    justify-content: space-between;
}

.li-1, .li-2, .li-3 {
    margin-top: 42px;
}

.li-1 {
    margin-left: 90px;
    height: 153px;
    width: 320px;
}

.li-3 {
    margin-right: 90px;
}

.li-2 {
    height: 153px;
    width: 250px;
}

.foot {
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}