body{
    margin:70px;
}

h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.head_text {
    line-height: 1.8;
    color: rgb(173, 171, 171);
    margin-bottom: 50px;
    font-size: 20px;
}

.grap {
    /* background-color: rgb(208, 208, 208); */
    width: 701px;
    height: 467px;
    margin-left: 30px;
    position: absolute;
    
}

.p1 {
    color: rgb(173, 171, 171);
    line-height: 1.8;
}

.list1 {
    display: flex;
    width: 700px;
    border-bottom-style: dotted;
    border-color:red;
}   

.list2, .list3 {
    display: flex;
    width: 700px;
    border-bottom-style: dotted;
    border-color:red;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul {
    margin-top: 4px;
    margin-left: 30px;
    list-style-type: none;
    position: relative;
    zoom: 1.25;
}

h3 {
    color: black;
}

.left {
    position: relative;
    width: 470px;
}



.content {
    display: flex;
}
